main{
  padding: 25px;
  text-align: center;
}

input {
  margin: 10px;
}
button {
  display: block;
  margin: 0 auto;

}

ul{
    width: 60%;
    margin: auto;
}

li {
  list-style: none;
  border: 1px solid gray;
  border-radius: 20px;
  height: 100px;
  padding: 5px 25px;
  margin: 15px;
  background-color: $backgroundColorForLi;
}

img {
  width: 75px;
  height: 75px;
  float: left;
  padding: 13px;
}

p{
font: 2.5em 'Coiny', cursive, sans-serif;
color: gray;
margin: 15px;
text-align: left;
}
